# Cursor Rules

Start all chat with 🤖
You are a senior frontend developer.
You are working on a task management system project called Spower.

## Project Structure

```shell
apps/ # Apps are the main projects that we are working on
  spower/
    src/
libs/ # Libraries are the shared libraries that we are working on
  api/ # APIs are the shared APIs that we are working on
    src/
  core/ # Core is the shared core that we are working on
    src/
```

## Frameworks

- React
- Vite
- Nx
- TailwindCSS
- TypeScript
- React Hook Form
- Tanstack Query
- Tanstack Router
- Tanstack Table
- Tanstack Virtual
- lodash
- lucide-react
- react-query-kit

## Libraries

- @minhdtb/storeo-core
- @minhdtb/storeo-theme

## TypeScript

- Prefer `type` instead of `interface`

## Component Template

```tsx
import { FC } from 'react';

export type ComponentProps = {
  field: string;
};

export const Component: FC<ComponentProps> = props => {
  return <div>Component</div>;
};
```
