{
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "importOrder": [
    "^react",
    "^@react",
    "^@minhdtb/(.*)$",
    "^portal$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindFunctions": [
    "tw"
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
